*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #fff;
}
.w-1024{
    width: 100%;
    max-width: 1024px;
}

/* ****** */
/* HEADER */
/* ****** */
.header, .main, .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    width: 55px;
}
.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
.nav ul{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}
.nav ul li .active{
    color: #1F3F68;
    font-weight: 700;
}

.banner{
    width: 100%;
    position: relative;
}
.banner img{
    width: 100%;
    min-width: 1200px;
}
.title-y-paragraph{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    text-align: center;
}
.title-y-paragraph h1{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 44px;
    color: #fff;
}
.title-y-paragraph p{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

/* ****** */
/*  MAIN  */
/* ****** */

.popular{
    padding-top: 40px;
}

.input-search{
    position: relative;
    margin-bottom: 40px;
}
.input-search input{
    width: calc(100% - 100px);
    height: 45px;
    border: none;
    border-radius: 10px;
    padding: 0 50px;
    background-color: #F4F4F4;
}
.input-search img{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    filter: opacity(50%);
}

.popular-info{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 58px;
}
.popular-info h3{
    color: #356EAD;
    margin-bottom: 20px;
}
.house{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.house-info{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.house-info h2{
    color: #1F3F68;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}
.home-text{
    color: #565656;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
.home-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-footer-person{
    color: #565656;
    font-weight: 400;
    font-size: 18px;
}
.home-footer-icon img{
    margin-right: 15px;
}

.home-row{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 17px;
    margin-bottom: 50px;
}
.home-card{
    width: 330px;
}
.home-card-head{
    width: 330px;
    margin-bottom: 30px;
}
.home-subtitle{
    color: #1F3F68;
    margin-bottom: 20px;
}
.home-footer-icon-img{
    margin-right: 15px;
}
.color-blue{
    color: #1F3F68;
    font-weight: 600;
    margin-bottom: 8px;
}

.popular-info-footer{
    display: flex;
    justify-content: end;
    color: #1F3F68;
    margin-bottom: 30px;
}



.article-card-img{
    margin-right: 30px;
}
.article-card{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.article-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    color: #356EAD;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* ****** */
/* FOOTER */
/* ****** */

.footer{
    background-color: #316099;
    padding-top: 100px;
    padding-bottom: 60px;
    color: #fff;
}
.footer-header{
    display: flex;
    margin-bottom: 80px;
}
.footer-header div{
    width: 50%;
}

.footer-body{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.footer-body-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

hr{
    width: 100%;
    border: 1px solid #FFFFFF;
    opacity: 0.4;
}